[submodule "account-abstraction"]
	path = @account-abstraction
	url = https://github.com/XinyuCRO/account-abstraction.git
	branch = develop
[submodule "spec"]
	path = spec
	url = https://github.com/alchemyplatform/bundler-spec.git
	branch = main
